/* --- Common buttons section --------------------------------------------- */

/* --- Ubuntu focus rect fix --- */
QPushButton:focus {
    outline: none;
}

QCheckBox:focus {
    outline: none;
}

/* --- Right segment button section --------------------------------------------- */

QPushButton#pbClockRightDark {
    image: url(:/img/buttons/images/buttons/pbClockRightDark.png);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 24px;
    width: 40px;
}
QPushButton#pbClockRightDark:pressed {
    image: url(:/img/buttons/images/buttons/pbClockPressedRightDark.png);
}
QPushButton#pbClockRightDark:checked {
    image: url(:/img/buttons/images/buttons/pbClockPressedRightDark.png);
}

/* --- ---- --- */
QPushButton#pbSettingsRightDark {
    image: url(:/img/buttons/images/buttons/pbSettingsRightDark.png);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 24px;
    width: 40px;
}
QPushButton#pbSettingsRightDark:pressed {
    image: url(:/img/buttons/images/buttons/pbSettingsPressedRightDark.png);
}
QPushButton#pbSettingsRightDark:checked {
    image: url(:/img/buttons/images/buttons/pbSettingsPressedRightDark.png);
}

/* --- ---- --- */
QPushButton#pbDelRightLight {
    image: url(:/img/buttons/images/buttons/pbDelRightLight.png);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 26px;
    width: 40px;
}
QPushButton#pbDelRightLight:pressed {
    image: url(:/img/buttons/images/buttons/pbDelPressedRightLight.png);
}
QPushButton#pbDelRightLight:checked {
    image: url(:/img/buttons/images/buttons/pbDelPressedRightLight.png);
}

/* --- Right arrows section ------ */

QPushButton#pbArrowRightDark {
    image: url(:/img/buttons/images/buttons/pbArrowRightDark.png);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 24px;
    width: 32px;
}
QPushButton#pbArrowRightDark:pressed {
    image: url(:/img/buttons/images/buttons/pbArrowPressedRightDark.png);
}
QPushButton#pbArrowRightDark:disabled {
    image: url(:/img/buttons/images/buttons/pbArrowDisabledRightDark.png);
}

/* --- ---- --- */


/* --- Middle segment button section --------------------------------------------- */
QPushButton#pbDelMiddleDark {
    image: url(:/img/buttons/images/buttons/pbDelMiddleDark.png);
    border-radius: 1px;
    height: 24px;
    width: 40px;

}
QPushButton#pbDelMiddleDark:pressed {
    image: url(:/img/buttons/images/buttons/pbDelPressedMiddleDark.png);
}
QPushButton#pbDelMiddleDark:disabled {
    image: url(:/img/buttons/images/buttons/pbDelDisabledMiddleDark.png);
}

/* --- ---- --- */
QPushButton#pbWeeksDark {
    image: url(:/img/buttons/images/buttons/pbWeeksDark.png);
    border-radius: 1px;
    text-align: left;
    font-size: 13px;
    height: 24px;
    width: 100px;
}
QPushButton#pbWeeksDark:pressed {
    image: url(:/img/buttons/images/buttons/pbWeeksPressedDark.png);
}

/* --- Left segment button section --------------------------------------------- */

QPushButton#pbAddLeftDark {
    image: url(:/img/buttons/images/buttons/pbAddLeftDark.png);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 24px;
    width: 40px;
}
QPushButton#pbAddLeftDark:pressed {
    image: url(:/img/buttons/images/buttons/pbAddPressedLeftDark.png);
}
QPushButton#pbAddLeftDark:disabled {
    image: url(:/img/buttons/images/buttons/pbAddDisabledLeftDark.png);
}

/* --- ---- --- */
QPushButton#pbAddLeftLight {
    image: url(:/img/buttons/images/buttons/pbAddLeftLight.png);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 26px;
    width: 40px;
}
QPushButton#pbAddLeftLight:pressed {
    image: url(:/img/buttons/images/buttons/pbAddPressedLeftLight.png);
}

/* --- ---- --- */
QPushButton#pbTodayLeftDark {
    image: url(:/img/buttons/images/buttons/pbTodayLeftDark.png);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 24px;
    width: 40px;
}
QPushButton#pbTodayLeftDark:pressed {
    image: url(:/img/buttons/images/buttons/pbTodayPressedLeftDark.png);
}

/* --- Left arrows section --------------------------------------------- */
QPushButton#pbArrowLeftDark {
    image: url(:/img/buttons/images/buttons/pbArrowLeftDark.png);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 24px;
    width: 32px;
}
QPushButton#pbArrowLeftDark:pressed {
    image: url(:/img/buttons/images/buttons/pbArrowPressedLeftDark.png);
}
QPushButton#pbArrowLeftDark:disabled {
    image: url(:/img/buttons/images/buttons/pbArrowDisabledLeftDark.png);
}


/* --- Single button section --------------------------------------------- */

QPushButton#pbAddSingleDark {
    image: url(:/img/buttons/images/buttons/pbAddSingleDark.png);
    border-radius: 4px;
    height: 24px;
    width: 40px;
}
QPushButton#pbAddSingleDark:pressed {
    image: url(:/img/buttons/images/buttons/pbAddPressedSingleDark.png);
}

/* --- ---- --- */
QPushButton#pbDoneSingleDark {
    image: url(:/img/buttons/images/buttons/pbDoneSingleDark.png);
    border-radius: 4px;
    height: 24px;
    width: 40px;
}
QPushButton#pbDoneSingleDark:pressed {
    image: url(:/img/buttons/images/buttons/pbDonePressedSingleDark.png);
}
QPushButton#pbDoneSingleDark:checked {
    image: url(:/img/buttons/images/buttons/pbDonePressedSingleDark.png);
}

/* --- ---- --- */
QPushButton#pbPinSingleDark {
    image: url(:/img/buttons/images/buttons/pbPinSingleDark.png);
    border-radius: 4px;
    height: 24px;
    width: 40px;
}
QPushButton#pbPinSingleDark:pressed {
    image: url(:/img/buttons/images/buttons/pbPinPressedSingleDark.png);
}
QPushButton#pbPinSingleDark:checked {
    image: url(:/img/buttons/images/buttons/pbPinPressedSingleDark.png);
}

/* --- ---- --- */
QPushButton#pbSwitchSingleDark {
    image: url(:/img/buttons/images/buttons/pbSwitchSingleDark.png);
    border-radius: 4px;
    height: 24px;
    width: 40px;
}
QPushButton#pbSwitchSingleDark:pressed {
    image: url(:/img/buttons/images/buttons/pbSwitchPressedSingleDark.png);
}

/* --- ---- --- */
QPushButton#pbExpandSingleBlue {
    image: url(:/img/buttons/images/buttons/pbExpandSingleBlue.png);
    border-radius: 1px;
    height: 22px;
    width: 40px;
}
QPushButton#pbExpandSingleBlue:pressed {
    image: url(:/img/buttons/images/buttons/pbExpandPressedSingleBlue.png);
}

/* --- ---- --- */
QPushButton#pbAddSingleBlue {
    image: url(:/img/buttons/images/buttons/pbAddSingleBlue.png);
    border-radius: 1px;
    height: 22px;
    width: 40px;
}
QPushButton#pbAddSingleBlue:pressed {
    image: url(:/img/buttons/images/buttons/pbAddPressedSingleBlue.png);
}
/* ---------------------------------- */





QPushButton#pbOverDue{
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                    stop: 0 #fff, stop: 1 #dedede);
    color: #d14836;
    font-size: 14px;
    padding: 0px 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
QPushButton#pbOverDue:pressed{
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                    stop: 0 #dedede, stop: 1 #fff);
    color: #333;
}
QPushButton#pbOverDue:checked{
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                    stop: 0 #dedede, stop: 1 #fff);
    color: #333;
    
}

QPushButton#pbShowAll{
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                        stop: 0 #eb513d, stop: 1 #d14836);
    color:#fff;
    font-size: 16px;
    padding: 0px 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
QPushButton#pbShowAll:pressed{
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                        stop: 0 #d14836, stop: 1 #eb513d);
    color:#fff;
}
QPushButton#pbShowAll:checked{
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                        stop: 0 #d14836, stop: 1 #eb513d);
    color:#fff;
    font-size: 16px;
    padding: 0px 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

QPushButton#pbEditRaspTitle{
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                        stop: 0 #eb513d, stop: 1 #d14836);
    color:#fff;
    font-size: 16px;
    padding: 0px 10px;
    border-radius: 4px;
}
QPushButton#pbEditRaspTitle:pressed{
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                        stop: 0 #d14836, stop: 1 #eb513d);
    color:#fff;
}


/*QPushButton#pbDiaMultiRemove {
       padding:4px;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                    stop: 0 #fff, stop: 1 #dedede);
}*/

 QPushButton#pbDiaRemove, QPushButton#pbDiaMultiRemove {
    padding:4px;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #eb513d;
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                        stop: 0 #eb513d, stop: 1 #d14836);
 }
QPushButton#pbDiaRemove:pressed, QPushButton#pbDiaMultiRemove:pressed {
    color: #111;
    border: 1px solid #eb513d;
    background: #fff;
 }

 QPushButton#pbReady {
    padding:4px;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #3873d9;
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                        stop: 0 #4287ff, stop: 1 #356ccc);
 }
QPushButton#pbReady:pressed {
    color: #111;
    border: 1px solid #3873d9;
    background: #fff;
 }

 QPushButton#pbUpdate {
    image: url(:/img/icons/images/icons/cloud.png);
    border-radius: 2px;
    /*border: 1px solid #3873d9;*/
/*    padding:4px;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #3873d9;
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                        stop: 0 #4287ff, stop: 1 #356ccc);*/
 }
QPushButton#pbUpdate:pressed {
/*    color: #111;
    border: 1px solid #3873d9;
    background: #fff;*/
 }


 QPushButton#pbRightBlock{
    image: url(:/img/buttons/images/buttons/pbArrowRightBlue.png);
    border-top-right-radius: 4px;
    height: 35px;
    width: 25px;
 }
 QPushButton#pbRightBlock:pressed{
    image: url(:/img/buttons/images/buttons/pbArrowPressedRightBlue.png);
 }

 QPushButton#pbLeftBlock{
    image: url(:/img/buttons/images/buttons/pbArrowLeftBlue.png);
    border-top-left-radius: 4px;
    height: 35px;
    width: 25px;
 }
 QPushButton#pbLeftBlock:pressed{
    image: url(:/img/buttons/images/buttons/pbArrowPressedLeftBlue.png);
 }

 QPushButton#pbCheckedLeftBlue{
    image: url(:/img/buttons/images/buttons/pbCheckedLeftBlue.png);
    border-top-right-radius: 4px;
    height: 35px;
    width: 30px;
 }
 QPushButton#pbCheckedLeftBlue:pressed{
    image: url(:/img/buttons/images/buttons/pbCheckedPressedLeftBlue.png);
 }

 QPushButton#pbUncheckedRightBlue{
    image: url(:/img/buttons/images/buttons/pbUncheckedRightBlue.png);
    border-top-left-radius: 4px;
    height: 35px;
    width: 30px;
 }

 QPushButton#pbUncheckedRightBlue:pressed{
    image: url(:/img/buttons/images/buttons/pbUncheckedPressedRightBlue.png);
 }

QPushButton#pbClearGr {
    background-color: transparent;
    image: url(:/img/buttons/images/buttons/pbClearLight.png);
}

QPushButton#pbClearGr:pressed {
    background-color: transparent;
    image: url(:/img/buttons/images/buttons/pbClearPressedLight.png);
}

QPushButton#pbClearAudit {
    background-color: transparent;
    image: url(:/img/buttons/images/buttons/pbClearLight.png);
}

QPushButton#pbClearAudit:pressed {
    background-color: transparent;
    image: url(:/img/buttons/images/buttons/pbClearPressedLight.png);
}
