/* --- Window table section ---------------------------------------------*/
QHeaderView {
    background-color: #fff;
    font-size:13px;
}

QHeaderView::section:horizontal {
    color: #fff;
    border-style: solid;
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                        stop: 0 #4287ff, stop: 1 #356ccc);
 }

QTableView {
    border: 2px solid #3873D9;
    border-top-color: #4287ff;
    border-radius: 4px;
    background-color: #fff;
    background-image: url(:/img/other/images/others/background.png);
    gridline-color: #777;
    selection-background-color: #ccdfff;
    color:#333;
    font-size:12px;
 }

QWidget#saDaysBox {
    background: #e4e4e4;
}

QFrame#titleFrame {
    border-radius: 4px;
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                        stop: 0 #535353, stop: 1 #373737);
}

QFrame#frmButtonsGroup
{
    border-radius: 4px;
    background: #e4e4e4;
}

QFrame#frmWeekDays { 
    border-bottom: 0px;
    image: url(:/img/other/images/others/weekDaysBackground.png);
    border-style: solid;
    border-color: #3873D9;
    border-left-width: 2px;
    border-right-width: 2px;
 }
QFrame#frmWeekDays QLabel {
    font-size: 12px;
    color:#fff;
 }

QFrame#sawTitleFrame{
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                    stop: 0 #535353, stop: 1 #373737);
    border-radius: 4px;
}

QFrame#groupFrame {

    background: #e4e4e4;
    border-image: url(:/img/other/images/others/groupBoxBackground.png) 8 8 8 8 repeat repeat;
    border-width: 4px 4px 4px 4px;

    font-size: 16px;
    font-weight:  bold;
}

QTableWidget#twFilters 
 {
    background-image: url(:/img/other/images/others/background.png);
    border: 2px solid #3873D9;
    border-top: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
 }

/* --- Pair settings section --------------------------------------------- */

QFrame#frmAdditions {
    border-radius: 4px;
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                        stop: 0 #4287ff, stop: 1 #356ccc);
}
QFrame#frmAdditions QLabel {
    font-size: 14px;
/*    font-weight: bold;*/
    color:#fff;
}

QFrame#frmAudit {
    font-size: 14px;
    border-radius: 4px;
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                        stop: 0 #4287ff, stop: 1 #356ccc);
}
QFrame#frmAudit QLabel {
    font-size: 14px;
/*    font-weight: bold;*/
    color:#fff;
}

QFrame#frmContainerHeader {
    border-bottom: 0px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                        stop: 0 #4287ff, stop: 1 #356ccc);
}
QFrame#frmContainerHeader QLabel {
    font-size: 14px;
    font-weight: bold;
    color:#fff;
}

QFrame#frmContainerStub {
    border: 2px solid #3873D9;
    border-top: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-image :url(:/img/other/images/others/background.png);
}


WDragPairCreate#dragPairCreate {
    image: url(:/img/other/images/others/DragElement.png);
}

WDragPairMove {
    font-size: 12px;
    color: #333;
    margin: 5px;
    border: 2px dashed #373737;
    border-radius: 3px;
    background-color: #f7faff;
 }

QFrame#permanentTip {
    background-image: url(:/img/other/images/others/background.png);
    border: 2px solid #eb513d;
    border-style:dashed;
    border-radius: 4px;
}

QLabel#dropTrash {
    image: url(:/img/other/images/others/trashElement.png);
    background-repeat: no-repeat;
    border-radius: 0px;
}

QFrame#frmCalendarBackground{
    background-image: url(:/img/other/images/others/calendar.png);
    border: 2px solid #3873D9;
    border-top: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

QLabel#lbCenterBlock{
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                        stop: 0 #4287ff, stop: 1 #356ccc);
    color:#fff;
    font-size: 16px;
}

QLabel#lbHeaderTitle{
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                        stop: 0 #eb513d, stop: 1 #d14836);
    color:#fff;
    font-size: 16px;
    padding: 0px 10px;
    border-radius: 4px;
}

QLabel#lbAdvice{
    font-size:10px;
    color:#555;
}

QLabel#lbTip{
    font-weight: 600;
    font-size:14px;
}

QLabel#lbTip2{
    font-size:13px;
}

QLabel#lbBooksIcon{
    image: url(:/img/other/images/others/books.png);
}
QLabel#lbTeacherIcon{
    image: url(:/img/other/images/others/teacher.png);
}
QLabel#lbTaskStubIcon{
    image: url(:/img/icons/images/icons/tasksStubIcon.png);
}

QLabel#lbAboutIcon{
    image: url(:/img/icons/images/icons/aboutLogo.png);
}

QLabel#lbPriorityLow{
    image: url(:/img/icons/images/icons/priorLow.png);
}

QLabel#lbPriorityNorm{
    image: url(:/img/icons/images/icons/priorNorm.png);
}

QLabel#lbPriorityHigh{
    image: url(:/img/icons/images/icons/priorHigh.png);
}

QLabel#lbPriorityAlarm{
    image: url(:/img/icons/images/icons/priorAlarm.png);
}

QFrame#frmTask {
    border-bottom: 1px solid #bebebe;
    border-radius: 4px;
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                        stop: 0 #fff, stop: 1 #efefef);

}

QLabel#lbTaskSubj {
    font-size: 12px;
    color: #fff;
    border-radius: 2px;
    border: 1px solid #eb513d;
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                        stop: 0 #eb513d, stop: 1 #d14836);
}

QLabel#lbTaskBlock {
    font-size: 13px;
    color: #444;
}

QLabel#lbTaskTitle {
    font-size: 12px;
    color: #333;
}

QLabel#lbBellShow {
    font-size: 14px;
}
QTimeEdit#teBellEdit {
    font-size: 14px;
}

